*{
    margin: 0;
    padding: 0;
}
body{
    padding: 40px 0 0 0;
    background: #9c9cf080;
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    color: white;
    text-shadow: 3px 2px 2px black;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #585858ec;
}
div#form{
    margin: 20px 0 0 0;
    padding: 30px 0 0 0;
    background:#e7e6e6b4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div#saida{
    margin-top: 50px;
    font-family: helvetica;
    font-size: 15pt;
    color: #171718;
    background: #04694259;
}
div#rodape{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #c8f0c8d7;
}